* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
html, body {
    height: 100%;
}
body {
    display: flex;
    align-items: center;
    background: #4f545d url(pic/background.png) repeat top left;
    font-family: Roboto, sans-serif;
}
form {
    width: 90%;
    max-width: 475px;
    height: 475px;
    background-color: #f1f2f4;
    margin: 10px auto;
    padding: 0px 45px 10px 45px;
    border-radius: 3px;
    box-shadow: 0px 1px 3px rgba(23, 16, 25, 0.75);
}
#clip img {
    display: block;
    margin: 0px auto;
}
#clip {
    position: relative;
    width: 100px;
    margin: 0px auto;
    margin-top: -77px;
}
#hole {
    height: 5px;
    background: #4f545d url(pic/background.png) repeat top left;
    border-radius: 2.5px;
    box-shadow: 0px -2px rgba(23, 16, 25, 0.2);
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
}
h1 {
    margin-top: 45px;
    text-align: center;
    font-size: 36px;
    color: #363636;
    font-weight: normal;
}
p {
    text-align: center;
    font-size: 22px;
    line-height: 30px;
    color: #7c818b;
    font-weight: normal;
    margin-top: 3px;
}
input, button {
    display: block;
    width: 100%;
}
#form-container {
    box-shadow: inset 0px 1px 3px rgba(23, 16, 25, 0.4), 0px 2px 0px white;
    border-radius: 3px;
    background-color: #e5e7e9;
}
input[type="email"], input[type="password"] {
    width: calc(100% - 2px);
    margin: 0px auto;
    height: 84px;
    font-size: 24px;
    color: #6f7278;
    padding-left: 73px;
    padding-right: 24px;
    line-height: 45px;
    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 24px center;
}
input[type="email"] {
    margin-top: 44px;
    background-image: url(pic/mail-icon.png); 
    border-bottom: 1px solid #bec0c2;
}
input[type="password"] {  
    background-image: url(pic/password-icon.png);
    border-top: 1px solid white;
}
button {
    margin-top: 28px;
    height: 74px;
    border: 1px solid #2a8b7b;
    background: #50c1b1 url(pic/btn-background.png) repeat-x left center;
    border-radius: 3px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    font-size: 36px;
    color: white;
    text-shadow: 0px 1px 3px rgba(23, 16 ,25, 0.55);
    cursor: pointer;
}